<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" http-equiv="X-UA-Compatible">
    <title>个人信息维护</title>
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet"
          href="../styles/font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet"
             th:href="@{/bootstrap/css/bootstrap.min.css}">

    <script type="text/javascript"   th:src="@{/js/jquery-1.11.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>
<div class="main">
    <div class="main_left_parent">
        <div class="main_left1">
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="loginname" class="col-sm-2 control-label">登录账号:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="loginname"
                               name="loginname" th:value="${loginname}" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label for="username" class="col-sm-2 control-label">用户名称:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="username"
                               name="username"  placeholder="请输入名字">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-2 control-label">用户密码:</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="password"
                               name="password"  placeholder="请输入密码">
                    </div>
                </div>
                <div class="form-group">
                    <label for="age" class="col-sm-2 control-label">年龄:</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="age"
                               name="age"  placeholder="请输入年龄" min="0">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" class="btn btn-primary" onclick="submit()">提交</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

<script th:inline="javascript">
    var ice = "http://localhost:8080/";
    function submit() {
        alert("111");
        debugger
        let username = $("#username").val();
        let password = $('#password').val();
        let age = $('#age').val();
        let loginname = $("#loginname").val();
        if(username == null){
            alert("用户名不能为空！");
            return;
        }
        if(password == null){
            alert("密码不能为空！");
            return;
        }
        if(age == null){
            alert("年龄不能为空！");
            return;
        }
        if(age < 0){
            alert("年龄不能小于0");
            return;
        }
        $.ajax({
            url: ice+"user/updateUserInfo",
            async: true,
            contentType: "application/x-www-form-urlencoded;charset=UTF-8",
            type:"post",
            dataType:"json",
            data: {
                username : username,
                password : password,
                age : age,
                loginname:loginname
            },
            success: function(result){
                if(result.code == 200){
                    alert("修改成功");
                }else{
                    alert(result.msg);
                }
            }});
    }
</script>
<style>
    .main_left1 {
        /* background-color: red; */
        width: 100%;
        height: 470px;
        font-size: 18px;
        position: fixed;
        top: 67px;
    }
</style>
</html>